<!DOCTYPE Html>

<html>
    <header>
        <meta charset="utf-8">
        <title>Ardikabs | pyCBIR</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
        
        {% block stylesheet %}        
        {% endblock %}
    </header>

    <body>
        <div class="pusher">
            <div class="ui container">
                {% block content %}
                {% endblock %}
            </div>        
        </div>
        
    </body>

    <footer>
        <div class="ui horizontal divider"></div>           
            
        <div class="ui footer ">
            <div class="ui container">
                <h4>Dika &copy 2017</h4>                                    
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        {% block javascript %}        
        {% endblock %}
    </footer>
</html>